<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     {{>header}}

    <div class="main-content">
    <div class="result">
       {{!-- <p>here is our result</p>  --}}
    </div>
    </div>
    
    {{>footer}}
</body>

</html>