<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     {{>header}}

    <div class="main-content">

     <div class="help-content">
        <h2>How to use this site ???</h2>
        <p>Go to home page and enter your location in search bar then just press enter</p>
        <h3>Tadaa !!!</h3>    
     </div>     
    
    
    </div>

    {{>footer}}

</body>

</html>