<forecast>


<div class="weather_animated">
    
    {{!-- <input type ="hidden" name="client_ip"> --}}
    <div class = "location"><h1>delhi, india</div> 
    <div class = "main-left">
      <i class = "clouds">clouds</i> 
      </div>
      <div class = "main-right">
        <li>rain</li>
        <li>precipit</li>
        <li>wind</li>
        <li>thunder</li>

      </div>

</div>
</forecast>