<header>
  
  <nav class="menu-container">

<!-- logo -->
<a href="/" class="menu-logo"><img src="https://cdn.discordapp.com/attachments/793804843411046421/941080387994665021/Weatherly.png"></a>

  <!-- menu items -->
  <div class="menu">
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/help">
          Help
        </a>
      </li>
      <li>
        <a href = "/about">
          About Us
        </a>
      </li>
    </ul>
    <ul>
    </ul>
  </div>
</nav>

</header>